.employees-list__item {
	padding: calc(var(--padding-main-block) / 2) var(--padding-main-block);
	display: flex;
	align-items: center;
	gap: var(--offset-element);
}

.employees-list__item:not(:last-child) {
	border-bottom: 1px solid var(--color-main);
}


.employees-list .item__name {
	max-width: 61%;
	flex: 1 1 auto;
}

/* Модификаторы состояния */

.employees-list__item.item--with-bonus .item__name,
.employees-list__item.item--with-bonus input,
.employees-list__item.item--with-bonus .icon-money::before {
	font-weight: 500;
	color: green;
}

.employees-list__item.item--awarded .item__name,
.employees-list__item.item--awarded .icon-award::before {
	color: rgb(185, 158, 5);
	font-weight: 500;
}

.employees-list__item.item--awarded.item--with-bonus .item__name {
	color: rgb(160, 68, 247);
	font-weight: 600;
}

/* INPUT */

.employees-list .item__field {
	position: relative;
	flex: 0 1 auto;
}

.employees-list .item__field input {
	padding: 5px 10px 5px 15px;
	max-width: 150px;
}

.employees-list .item__field::before {
	content: '$';
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translate3d(0, -50%, 0);
	color: var(--color-main);
	font-weight: 300;

}

.employees-list .item__field input:focus {
	box-shadow: 0 0 0 1px var(--color-main);
}

/* ICONS */

.employees-list .item__cta {
	flex: 0 0 auto;
}

.employees-list .item__cta>* {
	position: relative;
	width: calc(30px + 1vmin);
	height: calc(30px + 1vmin);
	display: inline-block;
	font-size: calc(16px + 1vmin);
	transition: 0.5s all;
}

.employees-list .item__cta>*:hover {
	opacity: 0.7;
	cursor: pointer;

	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.employees-list .item__cta>*::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.employees-list .item__cta>*:not(:last-child) {
	margin-right: calc(10px + 2vmin);
}

/* MEDIA */

@media (min-width: 560px) and (max-width: 650px) {
	.employees-list .item__field input {
		max-width: 120px;
	}
}

@media (max-width: 560px) {
	.employees-list__item {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.employees-list .item__name {
		padding-top: 5px;
		max-width: 100%;
		flex: 1 0 100%;
	}

	.employees-list__item {
		gap: 6px;
	}
}

@media (max-width: 390px) {
	.employees-list .item__field input {
		max-width: 100px;
	}


}