.header-info {
	padding: var(--padding-main-block);
	background-color: var(--color-main);
	border-radius: var(--border-radius);
	color: var(--color-secondary);
}

.header-info>*:not(:last-child) {
	margin-bottom: var(--offset-element);
}

.header-info h1 {
	font-size: calc(19px + 2vmin);
	font-weight: 600;
}

.header-info h2 {
	font-size: calc(15px + 2vmin);
}