.app {
	margin: var(--offset-main-block) auto;
	padding: 0 15px;
	max-width: 1030px;
}

.app>*:not(:last-child) {
	margin-bottom: var(--offset-main-block);
}

input,
button {
	transition: 0.3s box-shadow;
}

input:focus,
button:focus {
	outline: 0;
	box-shadow: 0 0 0 calc(1px + 0.35vmin) rgba(255, 255, 255, 0.5)
}

input:focus::placeholder {
	font-size: 0;
}

button:hover {
	color: #000;
	background-color: var(--color-secondary);
}

button {
	transition: 0.3s all;
}